.elementor-65 .elementor-element.elementor-element-ba3ee7d {
    --display: flex;
    --flex-direction: column;
    --container-widget-width: 100%;
    --container-widget-height: initial;
    --container-widget-flex-grow: 0;
    --container-widget-align-self: initial;
    --flex-wrap-mobile: wrap;
    --padding-top: 0px;
    --padding-bottom: 0px;
    --padding-left: 0px;
    --padding-right: 0px;
}

.elementor-65 .elementor-element.elementor-element-44206e4 {
    --display: flex;
    --flex-direction: column;
    --container-widget-width: 100%;
    --container-widget-height: initial;
    --container-widget-flex-grow: 0;
    --container-widget-align-self: initial;
    --flex-wrap-mobile: wrap;
    --padding-top: 0px;
    --padding-bottom: 0px;
    --padding-left: 0px;
    --padding-right: 0px;
}

.elementor-65 .elementor-element.elementor-element-291b0a33>.elementor-container>.elementor-column>.elementor-widget-wrap {
    align-content: center;
    align-items: center;
}

.elementor-65 .elementor-element.elementor-element-291b0a33:not(.elementor-motion-effects-element-type-background),
.elementor-65 .elementor-element.elementor-element-291b0a33>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-color: #FFFDF9;
}

.elementor-65 .elementor-element.elementor-element-291b0a33 {
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    margin-top: 0px;
    margin-bottom: 0px;
    padding: 80px 0px 50px 0px;
}

.elementor-65 .elementor-element.elementor-element-291b0a33>.elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-widget-image .widget-image-caption {
    color: var( --e-global-color-text);
    font-family: var( --e-global-typography-text-font-family), Sans-serif;
    font-weight: var( --e-global-typography-text-font-weight);
}

.elementor-65 .elementor-element.elementor-element-8aeaf74 {
    width: var( --container-widget-width, 88%);
    max-width: 88%;
    --container-widget-width: 88%;
    --container-widget-flex-grow: 0;
}

.elementor-65 .elementor-element.elementor-element-8aeaf74 img {
    border-style: solid;
    border-width: 2px 2px 2px 2px;
    border-color: var( --e-global-color-accent);
    border-radius: 150px 0px 150px 0px;
    box-shadow: 0px 0px 10px 0px #000000;
}

.elementor-bc-flex-widget .elementor-65 .elementor-element.elementor-element-75b1764f.elementor-column .elementor-widget-wrap {
    align-items: center;
}

.elementor-65 .elementor-element.elementor-element-75b1764f.elementor-column.elementor-element[data-element_type="column"]>.elementor-widget-wrap.elementor-element-populated {
    align-content: center;
    align-items: center;
}

.elementor-65 .elementor-element.elementor-element-75b1764f>.elementor-widget-wrap>.elementor-widget:not(.elementor-widget__width-auto):not(.elementor-widget__width-initial):not(:last-child):not(.elementor-absolute) {
    --kit-widget-spacing: 15px;
}

.elementor-widget-text-editor {
    font-family: var( --e-global-typography-text-font-family), Sans-serif;
    font-weight: var( --e-global-typography-text-font-weight);
    color: var( --e-global-color-text);
}

.elementor-widget-text-editor.elementor-drop-cap-view-stacked .elementor-drop-cap {
    background-color: var( --e-global-color-primary);
}

.elementor-widget-text-editor.elementor-drop-cap-view-framed .elementor-drop-cap,
.elementor-widget-text-editor.elementor-drop-cap-view-default .elementor-drop-cap {
    color: var( --e-global-color-primary);
    border-color: var( --e-global-color-primary);
}

.elementor-65 .elementor-element.elementor-element-22a2983d {
    text-align: center;
    font-family: "Open Sans", Sans-serif;
    font-size: 20px;
    font-weight: 700;
    line-height: 1.2em;
    letter-spacing: 0px;
    color: var( --e-global-color-primary);
}

.elementor-widget-heading .elementor-heading-title {
    font-family: var( --e-global-typography-primary-font-family), Sans-serif;
    font-weight: var( --e-global-typography-primary-font-weight);
    color: var( --e-global-color-primary);
}

.elementor-65 .elementor-element.elementor-element-7c4e1ed7 {
    margin: -20px 0px calc(var(--kit-widget-spacing, 0px) + 0px) 0px;
    text-align: center;
}

.elementor-65 .elementor-element.elementor-element-7c4e1ed7 .elementor-heading-title {
    font-family: "Poppins", Sans-serif;
    font-size: 35px;
    font-weight: 600;
    letter-spacing: 0.2px;
    color: #223463;
}

.elementor-65 .elementor-element.elementor-element-74c7f74c {
    text-align: center;
    font-family: "Open Sans", Sans-serif;
    font-size: 13px;
    font-weight: 400;
    line-height: 1.7em;
    letter-spacing: 0.2px;
    color: #444444;
}

.elementor-65 .elementor-element.elementor-element-74c7f74c p {
    margin-block-end: 7px;
}

.elementor-65 .elementor-element.elementor-element-336ad34 {
    margin: -7px 0px calc(var(--kit-widget-spacing, 0px) + 0px) 0px;
    text-align: center;
}

.elementor-65 .elementor-element.elementor-element-336ad34 .elementor-heading-title {
    font-family: "Poppins", Sans-serif;
    font-size: 18px;
    font-weight: 600;
    letter-spacing: 0.2px;
    color: #000000;
}

.elementor-65 .elementor-element.elementor-element-e0b2940 {
    --display: flex;
    --align-items: center;
    --container-widget-width: calc( ( 1 - var( --container-widget-flex-grow)) * 100%);
    --margin-top: -13px;
    --margin-bottom: 0px;
    --margin-left: 0px;
    --margin-right: 0px;
    --padding-top: 0px;
    --padding-bottom: 0px;
    --padding-left: 0px;
    --padding-right: 0px;
}

.elementor-widget-icon-list .elementor-icon-list-item:not(:last-child):after {
    border-color: var( --e-global-color-text);
}

.elementor-widget-icon-list .elementor-icon-list-icon i {
    color: var( --e-global-color-primary);
}

.elementor-widget-icon-list .elementor-icon-list-icon svg {
    fill: var( --e-global-color-primary);
}

.elementor-widget-icon-list .elementor-icon-list-item>.elementor-icon-list-text,
.elementor-widget-icon-list .elementor-icon-list-item>a {
    font-family: var( --e-global-typography-text-font-family), Sans-serif;
    font-weight: var( --e-global-typography-text-font-weight);
}

.elementor-widget-icon-list .elementor-icon-list-text {
    color: var( --e-global-color-secondary);
}

.elementor-65 .elementor-element.elementor-element-9b44e8d .elementor-icon-list-icon i {
    transition: color 0.3s;
}

.elementor-65 .elementor-element.elementor-element-9b44e8d .elementor-icon-list-icon svg {
    transition: fill 0.3s;
}

.elementor-65 .elementor-element.elementor-element-9b44e8d {
    --e-icon-list-icon-size: 14px;
    --icon-vertical-offset: 0px;
}

.elementor-65 .elementor-element.elementor-element-9b44e8d .elementor-icon-list-text {
    transition: color 0.3s;
}

.elementor-65 .elementor-element.elementor-element-9686bed {
    --display: flex;
    --flex-direction: column;
    --container-widget-width: 100%;
    --container-widget-height: initial;
    --container-widget-flex-grow: 0;
    --container-widget-align-self: initial;
    --flex-wrap-mobile: wrap;
    --gap: 15px 15px;
    --row-gap: 15px;
    --column-gap: 15px;
    --padding-top: 80px;
    --padding-bottom: 80px;
    --padding-left: 35px;
    --padding-right: 35px;
}

.elementor-65 .elementor-element.elementor-element-9686bed:not(.elementor-motion-effects-element-type-background),
.elementor-65 .elementor-element.elementor-element-9686bed>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-color: #EDEDED;
}

.elementor-65 .elementor-element.elementor-element-3847412 {
    text-align: center;
    font-family: "Open Sans", Sans-serif;
    font-size: 20px;
    font-weight: 700;
    line-height: 1.2em;
    letter-spacing: 0px;
    color: var( --e-global-color-primary);
}

.elementor-65 .elementor-element.elementor-element-6bc8bfa {
    margin: -20px 0px calc(var(--kit-widget-spacing, 0px) + 0px) 0px;
    text-align: center;
}

.elementor-65 .elementor-element.elementor-element-6bc8bfa .elementor-heading-title {
    font-family: "Poppins", Sans-serif;
    font-size: 40px;
    font-weight: 600;
    letter-spacing: 0.2px;
    color: #223463;
}

.elementor-65 .elementor-element.elementor-element-c504f98 {
    width: var( --container-widget-width, 81%);
    max-width: 81%;
    --container-widget-width: 81%;
    --container-widget-flex-grow: 0;
    text-align: center;
    font-family: "Open Sans", Sans-serif;
    font-size: 13px;
    font-weight: 400;
    line-height: 1.7em;
    letter-spacing: 0.2px;
    color: #444444;
}

.elementor-65 .elementor-element.elementor-element-c504f98.elementor-element {
    --align-self: center;
}

.elementor-65 .elementor-element.elementor-element-c504f98 p {
    margin-block-end: 0px;
}

.elementor-65 .elementor-element.elementor-element-4bef0eb>.elementor-container>.elementor-column>.elementor-widget-wrap {
    align-content: center;
    align-items: center;
}

.elementor-65 .elementor-element.elementor-element-4bef0eb:not(.elementor-motion-effects-element-type-background),
.elementor-65 .elementor-element.elementor-element-4bef0eb>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-color: #FFFDF9;
}

.elementor-65 .elementor-element.elementor-element-4bef0eb {
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    margin-top: 0px;
    margin-bottom: 0px;
    padding: 50px 0px 50px 0px;
}

.elementor-65 .elementor-element.elementor-element-4bef0eb>.elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-bc-flex-widget .elementor-65 .elementor-element.elementor-element-3b15276.elementor-column .elementor-widget-wrap {
    align-items: center;
}

.elementor-65 .elementor-element.elementor-element-3b15276.elementor-column.elementor-element[data-element_type="column"]>.elementor-widget-wrap.elementor-element-populated {
    align-content: center;
    align-items: center;
}

.elementor-65 .elementor-element.elementor-element-3b15276>.elementor-widget-wrap>.elementor-widget:not(.elementor-widget__width-auto):not(.elementor-widget__width-initial):not(:last-child):not(.elementor-absolute) {
    --kit-widget-spacing: 20px;
}

.elementor-65 .elementor-element.elementor-element-0f98399 {
    text-align: start;
    font-family: "Open Sans", Sans-serif;
    font-size: 20px;
    font-weight: 700;
    line-height: 1.2em;
    letter-spacing: 0px;
    color: var( --e-global-color-primary);
}

.elementor-65 .elementor-element.elementor-element-965ff54 {
    margin: -20px 0px calc(var(--kit-widget-spacing, 0px) + 0px) 0px;
    text-align: start;
}

.elementor-65 .elementor-element.elementor-element-965ff54 .elementor-heading-title {
    font-family: "Poppins", Sans-serif;
    font-size: 35px;
    font-weight: 600;
    letter-spacing: 0.2px;
    color: #223463;
}

.elementor-65 .elementor-element.elementor-element-1ba5570 {
    text-align: start;
    font-family: "Open Sans", Sans-serif;
    font-size: 13px;
    font-weight: 400;
    line-height: 1.7em;
    letter-spacing: 0.2px;
    color: #444444;
}

.elementor-65 .elementor-element.elementor-element-1ba5570 p {
    margin-block-end: 15px;
}

.elementor-65 .elementor-element.elementor-element-6eb9cec {
    padding: 0px 0px 0px 0px;
}

.elementor-bc-flex-widget .elementor-65 .elementor-element.elementor-element-77ed047.elementor-column .elementor-widget-wrap {
    align-items: center;
}

.elementor-65 .elementor-element.elementor-element-77ed047.elementor-column.elementor-element[data-element_type="column"]>.elementor-widget-wrap.elementor-element-populated {
    align-content: center;
    align-items: center;
}

.elementor-65 .elementor-element.elementor-element-77ed047.elementor-column>.elementor-widget-wrap {
    justify-content: flex-end;
}

.elementor-65 .elementor-element.elementor-element-77ed047>.elementor-widget-wrap>.elementor-widget:not(.elementor-widget__width-auto):not(.elementor-widget__width-initial):not(:last-child):not(.elementor-absolute) {
    --kit-widget-spacing: 15px;
}

.elementor-65 .elementor-element.elementor-element-fc9be18 {
    width: var( --container-widget-width, 88%);
    max-width: 88%;
    --container-widget-width: 88%;
    --container-widget-flex-grow: 0;
}

.elementor-65 .elementor-element.elementor-element-fc9be18 img {
    border-style: solid;
    border-width: 2px 2px 2px 2px;
    border-color: var( --e-global-color-accent);
    border-radius: 0px 150px 0px 0150px;
    box-shadow: 0px 0px 10px 0px #000000;
}

.elementor-65 .elementor-element.elementor-element-492db9c {
    --display: flex;
    --flex-direction: column;
    --container-widget-width: 100%;
    --container-widget-height: initial;
    --container-widget-flex-grow: 0;
    --container-widget-align-self: initial;
    --flex-wrap-mobile: wrap;
    --gap: 15px 15px;
    --row-gap: 15px;
    --column-gap: 15px;
    --margin-top: 0px;
    --margin-bottom: 0px;
    --margin-left: 0px;
    --margin-right: 0px;
    --padding-top: 80px;
    --padding-bottom: 80px;
    --padding-left: 35px;
    --padding-right: 35px;
}

.elementor-65 .elementor-element.elementor-element-492db9c:not(.elementor-motion-effects-element-type-background),
.elementor-65 .elementor-element.elementor-element-492db9c>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-color: #FFFFFF;
}

.elementor-65 .elementor-element.elementor-element-d3f4c63 {
    text-align: center;
    font-family: "Open Sans", Sans-serif;
    font-size: 20px;
    font-weight: 700;
    line-height: 1.2em;
    letter-spacing: 0px;
    color: var( --e-global-color-primary);
}

.elementor-65 .elementor-element.elementor-element-467f59b {
    margin: -20px 0px calc(var(--kit-widget-spacing, 0px) + 0px) 0px;
    text-align: center;
}

.elementor-65 .elementor-element.elementor-element-467f59b .elementor-heading-title {
    font-family: "Poppins", Sans-serif;
    font-size: 40px;
    font-weight: 600;
    letter-spacing: 0.2px;
    color: #223463;
}

.elementor-65 .elementor-element.elementor-element-1114250 {
    width: var( --container-widget-width, 81%);
    max-width: 81%;
    --container-widget-width: 81%;
    --container-widget-flex-grow: 0;
    text-align: center;
    font-family: "Open Sans", Sans-serif;
    font-size: 13px;
    font-weight: 400;
    line-height: 1.7em;
    letter-spacing: 0.2px;
    color: #444444;
}

.elementor-65 .elementor-element.elementor-element-1114250.elementor-element {
    --align-self: center;
}

.elementor-65 .elementor-element.elementor-element-1114250 p {
    margin-block-end: 0px;
}

.elementor-65 .elementor-element.elementor-element-519e040 {
    --display: flex;
    --flex-direction: column;
    --container-widget-width: 100%;
    --container-widget-height: initial;
    --container-widget-flex-grow: 0;
    --container-widget-align-self: initial;
    --flex-wrap-mobile: wrap;
    --gap: 15px 15px;
    --row-gap: 15px;
    --column-gap: 15px;
    --margin-top: 0px;
    --margin-bottom: 0px;
    --margin-left: 0px;
    --margin-right: 0px;
    --padding-top: 80px;
    --padding-bottom: 80px;
    --padding-left: 35px;
    --padding-right: 35px;
}

.elementor-65 .elementor-element.elementor-element-519e040:not(.elementor-motion-effects-element-type-background),
.elementor-65 .elementor-element.elementor-element-519e040>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-color: #FFFFFF;
}

.elementor-65 .elementor-element.elementor-element-9807dd0 {
    text-align: center;
    font-family: "Open Sans", Sans-serif;
    font-size: 20px;
    font-weight: 700;
    line-height: 1.2em;
    letter-spacing: 0px;
    color: var( --e-global-color-primary);
}

.elementor-65 .elementor-element.elementor-element-356371f {
    margin: -20px 0px calc(var(--kit-widget-spacing, 0px) + 0px) 0px;
    text-align: center;
}

.elementor-65 .elementor-element.elementor-element-356371f .elementor-heading-title {
    font-family: "Poppins", Sans-serif;
    font-size: 40px;
    font-weight: 600;
    letter-spacing: 0.2px;
    color: #223463;
}

.elementor-65 .elementor-element.elementor-element-b06cc23 {
    width: var( --container-widget-width, 81%);
    max-width: 81%;
    --container-widget-width: 81%;
    --container-widget-flex-grow: 0;
    text-align: center;
    font-family: "Open Sans", Sans-serif;
    font-size: 13px;
    font-weight: 400;
    line-height: 1.7em;
    letter-spacing: 0.2px;
    color: #444444;
}

.elementor-65 .elementor-element.elementor-element-b06cc23.elementor-element {
    --align-self: center;
}

.elementor-65 .elementor-element.elementor-element-b06cc23 p {
    margin-block-end: 0px;
}

.elementor-65 .elementor-element.elementor-element-091dd5e {
    --display: flex;
    --flex-direction: column;
    --container-widget-width: 100%;
    --container-widget-height: initial;
    --container-widget-flex-grow: 0;
    --container-widget-align-self: initial;
    --flex-wrap-mobile: wrap;
    --gap: 15px 15px;
    --row-gap: 15px;
    --column-gap: 15px;
    --overlay-opacity: 0.47;
    --overlay-mix-blend-mode: overlay;
    --padding-top: 80px;
    --padding-bottom: 80px;
    --padding-left: 35px;
    --padding-right: 35px;
}

.elementor-65 .elementor-element.elementor-element-091dd5e::before,
.elementor-65 .elementor-element.elementor-element-091dd5e>.elementor-background-video-container::before,
.elementor-65 .elementor-element.elementor-element-091dd5e>.e-con-inner>.elementor-background-video-container::before,
.elementor-65 .elementor-element.elementor-element-091dd5e>.elementor-background-slideshow::before,
.elementor-65 .elementor-element.elementor-element-091dd5e>.e-con-inner>.elementor-background-slideshow::before,
.elementor-65 .elementor-element.elementor-element-091dd5e>.elementor-motion-effects-container>.elementor-motion-effects-layer::before {
    background-color: #FFFFFF;
    --background-overlay: '';
}

.elementor-65 .elementor-element.elementor-element-091dd5e .elementor-background-slideshow__slide__image {
    background-size: cover;
}

.elementor-65 .elementor-element.elementor-element-bdb84de {
    text-align: center;
    font-family: "Open Sans", Sans-serif;
    font-size: 20px;
    font-weight: 700;
    line-height: 1.2em;
    letter-spacing: 0px;
    color: var( --e-global-color-primary);
}

.elementor-65 .elementor-element.elementor-element-9033c44 {
    margin: -20px 0px calc(var(--kit-widget-spacing, 0px) + 0px) 0px;
    text-align: center;
}

.elementor-65 .elementor-element.elementor-element-9033c44 .elementor-heading-title {
    font-family: "Poppins", Sans-serif;
    font-size: 40px;
    font-weight: 600;
    letter-spacing: 0.2px;
    color: #223463;
}

.elementor-65 .elementor-element.elementor-element-409cfed {
    width: var( --container-widget-width, 81%);
    max-width: 81%;
    --container-widget-width: 81%;
    --container-widget-flex-grow: 0;
    text-align: center;
    font-family: "Open Sans", Sans-serif;
    font-size: 13px;
    font-weight: 400;
    line-height: 1.7em;
    letter-spacing: 0.2px;
    color: #444444;
}

.elementor-65 .elementor-element.elementor-element-409cfed.elementor-element {
    --align-self: center;
}

.elementor-65 .elementor-element.elementor-element-409cfed p {
    margin-block-end: 0px;
}

.elementor-65 .elementor-element.elementor-element-5acb20a94:not(.elementor-motion-effects-element-type-background),
.elementor-65 .elementor-element.elementor-element-5acb20a94>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-color: #FFFFFF;
}

.elementor-65 .elementor-element.elementor-element-5acb20a94>.elementor-container {
    min-height: 0px;
}

.elementor-65 .elementor-element.elementor-element-5acb20a94 {
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    margin-top: 0px;
    margin-bottom: 0px;
    padding: 50px 0px 50px 0px;
}

.elementor-65 .elementor-element.elementor-element-5acb20a94>.elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-65 .elementor-element.elementor-element-7bd430b8:not(.elementor-motion-effects-element-type-background)>.elementor-widget-wrap,
.elementor-65 .elementor-element.elementor-element-7bd430b8>.elementor-widget-wrap>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-color: #927643;
}

.elementor-65 .elementor-element.elementor-element-7bd430b8>.elementor-element-populated {
    border-style: solid;
    border-width: 1px 1px 1px 1px;
    border-color: #FFFFFF;
    box-shadow: 10px 11px 24px 0px rgba(0, 0, 0, 0.99);
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
}

.elementor-65 .elementor-element.elementor-element-7bd430b8>.elementor-element-populated,
.elementor-65 .elementor-element.elementor-element-7bd430b8>.elementor-element-populated>.elementor-background-overlay,
.elementor-65 .elementor-element.elementor-element-7bd430b8>.elementor-background-slideshow {
    border-radius: 50px 50px 50px 50px;
}

.elementor-65 .elementor-element.elementor-element-7bd430b8>.elementor-element-populated>.elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-65 .elementor-element.elementor-element-4f38ed6 .wpr-anim-text.wpr-anim-text-type-rotate-1 b {
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
}

.elementor-65 .elementor-element.elementor-element-4f38ed6 .wpr-anim-text.wpr-anim-text-type-slide b {
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
}

.elementor-65 .elementor-element.elementor-element-4f38ed6 .wpr-anim-text.wpr-anim-text-type-zoom b {
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
}

.elementor-65 .elementor-element.elementor-element-4f38ed6 .wpr-anim-text.wpr-anim-text-type-push b {
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
}

.elementor-65 .elementor-element.elementor-element-4f38ed6 .wpr-highlighted-text svg path {
    -webkit-animation-delay: 2s;
    animation-delay: 2s;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
}

.elementor-65 .elementor-element.elementor-element-4f38ed6 .wpr-highlighted-text svg.wpr-highlight-x path:first-child {
    -webkit-animation-delay: -webkit-calc(2s + 0.3s);
    animation-delay: calc(2s + 0.3s);
}

.elementor-65 .elementor-element.elementor-element-4f38ed6 .wpr-highlighted-text svg.wpr-highlight-double path:last-child {
    -webkit-animation-delay: -webkit-calc(2s + 0.3s);
    animation-delay: calc(2s + 0.3s);
}

.elementor-65 .elementor-element.elementor-element-4f38ed6 .wpr-highlighted-text svg.wpr-highlight-double-underline path:last-child {
    -webkit-animation-delay: -webkit-calc(2s + 0.3s);
    animation-delay: calc(2s + 0.3s);
}

.elementor-65 .elementor-element.elementor-element-4f38ed6 .wpr-advanced-text {
    text-align: center;
}

.elementor-65 .elementor-element.elementor-element-4f38ed6 .wpr-advanced-text a {
    text-align: center;
}

.elementor-65 .elementor-element.elementor-element-4f38ed6 .wpr-advanced-text-preffix {
    color: #FFFFFF;
    font-family: "Poppins", Sans-serif;
    font-size: 40px;
    font-weight: 600;
    padding-top: 10px;
    padding-bottom: 10px;
}

.elementor-65 .elementor-element.elementor-element-4f38ed6 .wpr-anim-text {
    color: var( --e-global-color-primary);
    padding: 10px 10px 10px 10px;
}

.elementor-65 .elementor-element.elementor-element-4f38ed6 .wpr-highlighted-text {
    color: var( --e-global-color-primary);
    padding: 10px 10px 10px 10px;
}

.elementor-65 .elementor-element.elementor-element-4f38ed6 .wpr-anim-text b,
.elementor-65 .elementor-element.elementor-element-4f38ed6 .wpr-anim-text b i,
.elementor-65 .elementor-element.elementor-element-4f38ed6 .wpr-anim-text,
.elementor-65 .elementor-element.elementor-element-4f38ed6 .wpr-highlighted-text {
    font-family: "Poppins", Sans-serif;
    font-size: 40px;
    font-weight: 600;
}

.elementor-65 .elementor-element.elementor-element-4f38ed6 .wpr-advanced-text-suffuix {
    padding-top: 10px;
    padding-bottom: 10px;
}

.elementor-65 .elementor-element.elementor-element-4f38ed6 .wpr-advanced-text-suffix {
    color: #333333;
}

.elementor-65 .elementor-element.elementor-element-63e5cf56 {
    margin: -30px 0px calc(var(--kit-widget-spacing, 0px) + 20px) 0px;
    text-align: center;
    font-family: "Lato", Sans-serif;
    font-size: 15px;
    font-weight: 400;
    letter-spacing: 0.3px;
    color: #F1F1F1;
}

.elementor-65 .elementor-element.elementor-element-5e842bb2 .wpr-button {
    background-color: transparent;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
    -webkit-animation-duration: 0.4s;
    animation-duration: 0.4s;
    background-image: linear-gradient(180deg, var( --e-global-color-primary) 0%, var( --e-global-color-accent) 100%);
    border-color: #FFFFFF;
    border-style: solid;
    border-width: 1px 1px 1px 1px;
    border-radius: 6px 6px 6px 6px;
}

.elementor-65 .elementor-element.elementor-element-5e842bb2 [class*="elementor-animation"]:hover,
.elementor-65 .elementor-element.elementor-element-5e842bb2 .wpr-button::before,
.elementor-65 .elementor-element.elementor-element-5e842bb2 .wpr-button::after {
    background-color: var( --e-global-color-primary);
}

.elementor-65 .elementor-element.elementor-element-5e842bb2.elementor-element {
    --flex-grow: 0;
    --flex-shrink: 0;
}

.elementor-65 .elementor-element.elementor-element-5e842bb2 .wpr-button::before {
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
    -webkit-animation-duration: 0.4s;
    animation-duration: 0.4s;
}

.elementor-65 .elementor-element.elementor-element-5e842bb2 .wpr-button::after {
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
    -webkit-animation-duration: 0.4s;
    animation-duration: 0.4s;
    color: #ffffff;
    padding: 8px 10px 9px 10px;
}

.elementor-65 .elementor-element.elementor-element-5e842bb2 .wpr-button .wpr-button-icon {
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
}

.elementor-65 .elementor-element.elementor-element-5e842bb2 .wpr-button .wpr-button-icon svg {
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
}

.elementor-65 .elementor-element.elementor-element-5e842bb2 .wpr-button .wpr-button-text {
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
    -webkit-animation-duration: 0.4s;
    animation-duration: 0.4s;
}

.elementor-65 .elementor-element.elementor-element-5e842bb2 .wpr-button .wpr-button-content {
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
    -webkit-animation-duration: 0.4s;
    animation-duration: 0.4s;
}

.elementor-65 .elementor-element.elementor-element-5e842bb2 .wpr-button-wrap {
    max-width: 366px;
}

.elementor-65 .elementor-element.elementor-element-5e842bb2 {
    text-align: center;
}

.elementor-65 .elementor-element.elementor-element-5e842bb2 .wpr-button-content {
    -webkit-justify-content: center;
    justify-content: center;
}

.elementor-65 .elementor-element.elementor-element-5e842bb2 .wpr-button-text {
    -webkit-justify-content: center;
    justify-content: center;
    color: #FFFFFF;
}

.elementor-65 .elementor-element.elementor-element-5e842bb2 .wpr-button-icon {
    font-size: 18px;
}

.elementor-65 .elementor-element.elementor-element-5e842bb2 .wpr-button-icon svg {
    width: 18px;
    height: 18px;
}

.elementor-65 .elementor-element.elementor-element-5e842bb2.wpr-button-icon-position-left .wpr-button-icon {
    margin-right: 12px;
}

.elementor-65 .elementor-element.elementor-element-5e842bb2.wpr-button-icon-position-right .wpr-button-icon {
    margin-left: 12px;
}

.elementor-65 .elementor-element.elementor-element-5e842bb2.wpr-button-icon-style-inline .wpr-button-icon {
    color: #FFFFFF;
}

.elementor-65 .elementor-element.elementor-element-5e842bb2.wpr-button-icon-style-inline .wpr-button-icon svg {
    fill: #FFFFFF;
}

.elementor-65 .elementor-element.elementor-element-5e842bb2 .wpr-button-text,
.elementor-65 .elementor-element.elementor-element-5e842bb2 .wpr-button::after {
    font-family: "Lato", Sans-serif;
    font-size: 15px;
    font-weight: 400;
    letter-spacing: 0.2px;
}

.elementor-65 .elementor-element.elementor-element-5e842bb2 .wpr-button:hover .wpr-button-text {
    color: #ffffff;
}

.elementor-65 .elementor-element.elementor-element-5e842bb2.wpr-button-icon-style-inline .wpr-button:hover .wpr-button-icon {
    color: #ffffff;
}

.elementor-65 .elementor-element.elementor-element-5e842bb2.wpr-button-icon-style-inline .wpr-button:hover .wpr-button-icon svg {
    fill: #ffffff;
}

.elementor-65 .elementor-element.elementor-element-5e842bb2 .wpr-button:focus .wpr-button-text {
    color: #ffffff;
}

.elementor-65 .elementor-element.elementor-element-5e842bb2.wpr-button-icon-style-inline .wpr-button:focus .wpr-button-icon {
    color: #ffffff;
}

.elementor-65 .elementor-element.elementor-element-5e842bb2.wpr-button-icon-style-inline .wpr-button:focus .wpr-button-icon svg {
    fill: #ffffff;
}

.elementor-65 .elementor-element.elementor-element-5e842bb2 .wpr-button:hover {
    border-color: #FFFFFF;
}

.elementor-65 .elementor-element.elementor-element-5e842bb2.wpr-button-icon-style-inline .wpr-button {
    padding: 8px 10px 9px 10px;
}

.elementor-65 .elementor-element.elementor-element-5e842bb2.wpr-button-icon-style-block .wpr-button-text {
    padding: 8px 10px 9px 10px;
}

.elementor-65 .elementor-element.elementor-element-5e842bb2.wpr-button-icon-style-inline-block .wpr-button-content {
    padding: 8px 10px 9px 10px;
}

body.elementor-page-65:not(.elementor-motion-effects-element-type-background),
body.elementor-page-65>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-color: #FFFFFF;
}

@media(min-width:768px) {
    .elementor-65 .elementor-element.elementor-element-e0b2940 {
        --content-width: 1140px;
    }
}

@media(max-width:1024px) {
    .elementor-65 .elementor-element.elementor-element-291b0a33 {
        padding: 55px 20px 25px 20px;
    }
    .elementor-bc-flex-widget .elementor-65 .elementor-element.elementor-element-1a4d6cbf.elementor-column .elementor-widget-wrap {
        align-items: center;
    }
    .elementor-65 .elementor-element.elementor-element-1a4d6cbf.elementor-column.elementor-element[data-element_type="column"]>.elementor-widget-wrap.elementor-element-populated {
        align-content: center;
        align-items: center;
    }
    .elementor-65 .elementor-element.elementor-element-7c4e1ed7 .elementor-heading-title {
        font-size: 35px;
    }
    .elementor-65 .elementor-element.elementor-element-336ad34 .elementor-heading-title {
        font-size: 35px;
    }
    .elementor-65 .elementor-element.elementor-element-6bc8bfa .elementor-heading-title {
        font-size: 35px;
    }
    .elementor-65 .elementor-element.elementor-element-4bef0eb {
        padding: 55px 20px 25px 20px;
    }
    .elementor-65 .elementor-element.elementor-element-965ff54 .elementor-heading-title {
        font-size: 35px;
    }
    .elementor-bc-flex-widget .elementor-65 .elementor-element.elementor-element-77ed047.elementor-column .elementor-widget-wrap {
        align-items: center;
    }
    .elementor-65 .elementor-element.elementor-element-77ed047.elementor-column.elementor-element[data-element_type="column"]>.elementor-widget-wrap.elementor-element-populated {
        align-content: center;
        align-items: center;
    }
    .elementor-65 .elementor-element.elementor-element-467f59b .elementor-heading-title {
        font-size: 35px;
    }
    .elementor-65 .elementor-element.elementor-element-356371f .elementor-heading-title {
        font-size: 35px;
    }
    .elementor-65 .elementor-element.elementor-element-9033c44 .elementor-heading-title {
        font-size: 35px;
    }
    .elementor-65 .elementor-element.elementor-element-5acb20a94 {
        margin-top: -140px;
        margin-bottom: 0px;
        padding: 50px 20px 100px 20px;
    }
    .elementor-65 .elementor-element.elementor-element-4f38ed6 .wpr-advanced-text-preffix {
        font-size: 50px;
        line-height: 0.1em;
    }
    .elementor-65 .elementor-element.elementor-element-4f38ed6 .wpr-anim-text b,
    .elementor-65 .elementor-element.elementor-element-4f38ed6 .wpr-anim-text b i,
    .elementor-65 .elementor-element.elementor-element-4f38ed6 .wpr-anim-text,
    .elementor-65 .elementor-element.elementor-element-4f38ed6 .wpr-highlighted-text {
        font-size: 50px;
    }
    .elementor-65 .elementor-element.elementor-element-63e5cf56 {
        font-size: 14px;
    }
    .elementor-65 .elementor-element.elementor-element-5e842bb2 .wpr-button-wrap {
        max-width: 170px;
    }
    .elementor-65 .elementor-element.elementor-element-5e842bb2 .wpr-button-text,
    .elementor-65 .elementor-element.elementor-element-5e842bb2 .wpr-button::after {
        font-size: 14px;
    }
    .elementor-65 .elementor-element.elementor-element-5e842bb2.wpr-button-icon-style-inline .wpr-button {
        padding: 7px 9px 8px 9px;
    }
    .elementor-65 .elementor-element.elementor-element-5e842bb2.wpr-button-icon-style-block .wpr-button-text {
        padding: 7px 9px 8px 9px;
    }
    .elementor-65 .elementor-element.elementor-element-5e842bb2.wpr-button-icon-style-inline-block .wpr-button-content {
        padding: 7px 9px 8px 9px;
    }
    .elementor-65 .elementor-element.elementor-element-5e842bb2 .wpr-button::after {
        padding: 7px 9px 8px 9px;
    }
}

@media(max-width:767px) {
    .elementor-65 .elementor-element.elementor-element-1a4d6cbf>.elementor-element-populated {
        padding: 0px 0px 0px 0px;
    }
    .elementor-65 .elementor-element.elementor-element-8aeaf74 {
        --container-widget-width: 1000px;
        --container-widget-flex-grow: 0;
        width: var( --container-widget-width, 1000px);
        max-width: 1000px;
    }
    .elementor-65 .elementor-element.elementor-element-8aeaf74 img {
        border-radius: 50px 0px 50px 0px;
    }
    .elementor-65 .elementor-element.elementor-element-75b1764f>.elementor-element-populated {
        padding: 40px 0px 0px 0px;
    }
    .elementor-65 .elementor-element.elementor-element-7c4e1ed7 .elementor-heading-title {
        font-size: 30px;
    }
    .elementor-65 .elementor-element.elementor-element-336ad34 {
        text-align: center;
    }
    .elementor-65 .elementor-element.elementor-element-336ad34 .elementor-heading-title {
        font-size: 16px;
    }
    .elementor-65 .elementor-element.elementor-element-9686bed {
        --padding-top: 40px;
        --padding-bottom: 40px;
        --padding-left: 10px;
        --padding-right: 10px;
    }
    .elementor-65 .elementor-element.elementor-element-6bc8bfa .elementor-heading-title {
        font-size: 30px;
    }
    .elementor-65 .elementor-element.elementor-element-c504f98 {
        --container-widget-width: 1000px;
        --container-widget-flex-grow: 0;
        width: var( --container-widget-width, 1000px);
        max-width: 1000px;
    }
    .elementor-65 .elementor-element.elementor-element-3b15276>.elementor-element-populated {
        padding: 40px 0px 0px 0px;
    }
    .elementor-65 .elementor-element.elementor-element-965ff54 .elementor-heading-title {
        font-size: 30px;
    }
    .elementor-65 .elementor-element.elementor-element-77ed047>.elementor-element-populated {
        padding: 40px 0px 0px 0px;
    }
    .elementor-65 .elementor-element.elementor-element-fc9be18 {
        --container-widget-width: 1000px;
        --container-widget-flex-grow: 0;
        width: var( --container-widget-width, 1000px);
        max-width: 1000px;
    }
    .elementor-65 .elementor-element.elementor-element-fc9be18 img {
        border-radius: 0px 50px 0px 50px;
    }
    .elementor-65 .elementor-element.elementor-element-492db9c {
        --padding-top: 40px;
        --padding-bottom: 40px;
        --padding-left: 10px;
        --padding-right: 10px;
    }
    .elementor-65 .elementor-element.elementor-element-467f59b .elementor-heading-title {
        font-size: 30px;
    }
    .elementor-65 .elementor-element.elementor-element-1114250 {
        --container-widget-width: 100%;
        --container-widget-flex-grow: 0;
        width: var( --container-widget-width, 100%);
        max-width: 100%;
    }
    .elementor-65 .elementor-element.elementor-element-519e040 {
        --padding-top: 40px;
        --padding-bottom: 40px;
        --padding-left: 10px;
        --padding-right: 10px;
    }
    .elementor-65 .elementor-element.elementor-element-356371f .elementor-heading-title {
        font-size: 30px;
    }
    .elementor-65 .elementor-element.elementor-element-b06cc23 {
        --container-widget-width: 100%;
        --container-widget-flex-grow: 0;
        width: var( --container-widget-width, 100%);
        max-width: 100%;
    }
    .elementor-65 .elementor-element.elementor-element-091dd5e {
        --padding-top: 40px;
        --padding-bottom: 40px;
        --padding-left: 10px;
        --padding-right: 10px;
    }
    .elementor-65 .elementor-element.elementor-element-9033c44 .elementor-heading-title {
        font-size: 30px;
    }
    .elementor-65 .elementor-element.elementor-element-409cfed {
        --container-widget-width: 100%;
        --container-widget-flex-grow: 0;
        width: var( --container-widget-width, 100%);
        max-width: 100%;
    }
    .elementor-65 .elementor-element.elementor-element-5acb20a94>.elementor-container {
        min-height: 0px;
    }
    .elementor-65 .elementor-element.elementor-element-5acb20a94 {
        margin-top: 0px;
        margin-bottom: 0px;
        padding: 40px 20px 40px 20px;
    }
    .elementor-65 .elementor-element.elementor-element-7bd430b8>.elementor-element-populated {
        margin: 0px 0px 0px 0px;
        --e-column-margin-right: 0px;
        --e-column-margin-left: 0px;
    }
    .elementor-65 .elementor-element.elementor-element-4f38ed6 {
        padding: 14px 14px 14px 14px;
    }
    .elementor-65 .elementor-element.elementor-element-4f38ed6 .wpr-advanced-text-preffix {
        font-size: 30px;
        line-height: 0.1em;
    }
    .elementor-65 .elementor-element.elementor-element-4f38ed6 .wpr-anim-text b,
    .elementor-65 .elementor-element.elementor-element-4f38ed6 .wpr-anim-text b i,
    .elementor-65 .elementor-element.elementor-element-4f38ed6 .wpr-anim-text,
    .elementor-65 .elementor-element.elementor-element-4f38ed6 .wpr-highlighted-text {
        font-size: 35px;
        line-height: 1em;
    }
    .elementor-65 .elementor-element.elementor-element-63e5cf56 {
        margin: -30px 0px calc(var(--kit-widget-spacing, 0px) + 0px) 0px;
        padding: 5px 5px 5px 5px;
        text-align: center;
        font-size: 14px;
    }
    .elementor-65 .elementor-element.elementor-element-502a6ac2 {
        width: 100%;
    }
    .elementor-65 .elementor-element.elementor-element-502a6ac2.elementor-column>.elementor-widget-wrap {
        justify-content: center;
    }
    .elementor-65 .elementor-element.elementor-element-5e842bb2 {
        width: var( --container-widget-width, 169.2px);
        max-width: 169.2px;
        --container-widget-width: 169.2px;
        --container-widget-flex-grow: 0;
    }
    .elementor-65 .elementor-element.elementor-element-5e842bb2 .wpr-button-text,
    .elementor-65 .elementor-element.elementor-element-5e842bb2 .wpr-button::after {
        font-size: 13px;
    }
}